header {
  background-color: #d32f2f;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo {
  height: 70px;      /* Adjust size as needed */
  width: auto;
  margin-right: 10px;
  border-radius: 5px; /* optional */
}
.location-btn {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  transition: background-color 0.3s, transform 0.2s;
}
.location-btn:hover {
  background-color: #e64a19;
  transform: scale(1.05);
}
.sub-header {
  font-size: 16px;
  font-weight: bold;
  color: #ffe0b2; /* हलका पिवळसर रंग जेणेकरून लाल हेडरवर उठून दिसेल */
  margin-top: 5px;
  font-style: italic;
}
footer {
  background-color: #d32f2f;  /* हेडरसारखाच रंग */
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

.footer-blessing {
  color: #ffe0b2;
  font-size: 14px;
  font-style: italic;
}
